
#resigter{
    margin-top: 30px;
    margin-left: 60px;
    margin-right: auto;
    border : solid;
    text-align: center;
}
#hs{
    margin-top: 0%;
     text-align:left;
     color: rgb(245, 229, 6);
}

